### Data cleaning

In [2]:
import pandas as pd
import numpy as np

In [3]:
yanki_df = pd.read_csv(r'dataset\raw_data\yanki_ecommerce.csv')

In [4]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1019 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [4]:
yanki_df.dropna(subset= ['Customer_ID', 'Order_ID', 'State'], inplace=True)

In [6]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            999 non-null    object
 1   Customer_ID         999 non-null    object
 2   Customer_Name       999 non-null    object
 3   Product_ID          999 non-null    object
 4   Product_Name        999 non-null    object
 5   Brand               999 non-null    object
 6   Category            999 non-null    object
 7   Price               999 non-null    float64
 8   Quantity            999 non-null    int64
 9   Total_Price         999 non-null    float64
 10  Order_Date          999 non-null    object
 11  Shipping_Address    999 non-null    object
 12  City                999 non-null    object
 13  State               999 non-null    object
 14  Country             999 non-null    object
 15  Postal_Code         999 non-null    int64
 16  Email               999 non-null    object
 17  Phone_Number        999 non-null    object
 18  Payment_Method      999 non-null    object
 19  Transaction_Status  999 non-null    object
dtypes: float64(2), int64(2), object(16)
memory usage: 163.9+ KB

In [5]:
yanki_df['Order_Date'] = pd.to_datetime(yanki_df['Order_Date'], dayfirst=True)

In [7]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            999 non-null    object
 1   Customer_ID         999 non-null    object
 2   Customer_Name       999 non-null    object
 3   Product_ID          999 non-null    object
 4   Product_Name        999 non-null    object
 5   Brand               999 non-null    object
 6   Category            999 non-null    object
 7   Price               999 non-null    float64
 8   Quantity            999 non-null    int64
 9   Total_Price         999 non-null    float64
 10  Order_Date          999 non-null    datetime64[ns]
 11  Shipping_Address    999 non-null    object
 12  City                999 non-null    object
 13  State               999 non-null    object
 14  Country             999 non-null    object
 15  Postal_Code         999 non-null    int64
 16  Email               999 non-null    object
 17  Phone_Number        999 non-null    object
 18  Payment_Method      999 non-null    object
 19  Transaction_Status  999 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(15)
memory usage: 163.9+ KB

In [26]:
customer_df = yanki_df[['Customer_ID', 'Customer_Name', 'Phone_Number', 'Email']].copy().drop_duplicates().reset_index(drop=True)
customer_df.tail()

,Customer_ID,Customer_Name,Phone_Number,Email
984,1e75eb3a-9ba5-4ea6-82ec-886abe298058,Jeremy Farrell,922.207.8157x85481,leejohn@example.com
985,c53c32ef-2e64-4ac4-ac48-3707ab1ebd1f,Marc Hudson,908.901.4896x12666,james85@example.org
986,ebc19a03-a32d-4d3c-9976-f30cee3d3a70,Devin Joseph,(718)789-6289,chadbenson@example.com
987,0598403f-7a42-44a9-994e-9f23feb20394,Spencer Elliott,366-506-0469x728,eric98@example.org
988,8832dd24-c104-475b-8327-d687d3912b58,Jeffrey Jackson,8483263716,turnerjoanna@example.org

In [31]:
product_df = yanki_df[['Product_ID', 'Product_Name', 'Category', 'Brand', 'Price']].copy().drop_duplicates().reset_index(drop=True)
product_df.head()

,Product_ID,Product_Name,Category,Brand,Price
0,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,perfume oil,"Lawson, Stone and Campos",250.57
1,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,perfume oil,Washington Group,179.81
2,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,perfume oil,Rodgers Ltd,600.55
3,e6021be5-90be-4199-b6c6-82542fb2973c,site,perfume oil,"Wilson, Scott and Johnson",414.36
4,60127671-ab32-4fb5-bfeb-1a7782ad835e,act,perfume,"Riddle, Alvarez and Robinson",704.05

In [27]:
shipping_df = yanki_df[['Customer_ID', 'Country', 'State', 'City', 'Shipping_Address', 'Postal_Code']].copy().drop_duplicates().reset_index(drop=True)
shipping_df.index.name = 'Shipping_ID'
shipping_df = shipping_df.reset_index()
shipping_df.head(4)

,Shipping_ID,Customer_ID,Country,State,City,Shipping_Address,Postal_Code
0,0,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Kuwait,Arkansas,Jordanborough,"PSC 2224, Box 2284\nAPO AP 65880",27879
1,1,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Saint Vincent and the Grenadines,Georgia,Lake Ginatown,"83909 Johnson Mall\nTranberg, MS 99017",39336
2,2,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,France,Ohio,Sarahville,"82101 Johnson Flat\nWest Ryan, MS 29075",30845
3,3,4b9b409c-19f2-41c0-bc7c-6556e0647ebb,Sao Tome and Principe,Arkansas,Lake Michelle,"4542 Gary Lane\nSouth Alexander, VI 27671",30955

In [28]:
Order_df = yanki_df[['Order_ID', 'Customer_ID', 'Product_ID', 'Order_Date', 'Total_Price', 'Quantity']].copy().drop_duplicates().reset_index(drop=True)
Order_df.tail(5)

,Order_ID,Customer_ID,Product_ID,Order_Date,Total_Price,Quantity
984,bb17468a-7648-4974-b3d6-9f9f1a78cb39,1e75eb3a-9ba5-4ea6-82ec-886abe298058,ad5204d7-e5c2-417c-91f7-5fa07619ef54,2023-08-07 12:34:00,355.38,3
985,184827be-c3bd-40a1-a2bb-8b085d58ddc0,c53c32ef-2e64-4ac4-ac48-3707ab1ebd1f,0ea15074-b823-4345-924c-aeb9fafe9571,2024-01-14 09:27:00,182.28,2
986,2dac83f2-fddb-4761-b211-ea716feee91c,ebc19a03-a32d-4d3c-9976-f30cee3d3a70,e911b0a9-75fb-4c17-b552-52be0d19f856,2021-01-23 10:25:00,2467.30,10
987,08341169-2d82-41d4-8273-fda624f99042,0598403f-7a42-44a9-994e-9f23feb20394,9c9792f9-4dc2-43b2-98f4-e989cf1bdb3a,2022-04-15 23:15:00,6472.60,10
988,476f789e-727f-4aad-9395-3d66aec6261a,8832dd24-c104-475b-8327-d687d3912b58,b835cfa0-70c5-4018-a5e8-50c9d71b5d56,2021-04-01 09:24:00,1050.87,3

In [29]:
payment_df = yanki_df[[ 'Order_ID', 'Payment_Method', 'Transaction_Status']].copy().drop_duplicates().reset_index(drop=True)
payment_df.head(5)

                               Order_ID Payment_Method Transaction_Status
0  e32af09a-b6ab-497e-af3a-331e4d4ed6e7     Debit Card          completed
1  86eb8859-14ab-4d4e-9267-c5826f4e0c8e    Credit Card          completed
2  7379b560-8897-4623-92a2-523ddcdc43a1         PayPal            pending
3  30c57f86-2fed-43c0-a399-654c2c3bb18d         PayPal          completed
4  41c29d81-9622-43c1-b537-7cdb320d3e6a         PayPal            pending

In [9]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

In [14]:
customer_df.to_csv(r'dataset/clean_data/Customers.csv', index=False)
shipping_df.to_csv(r'dataset/clean_data/Shipping.csv', index=False)
Order_df.to_csv(r'dataset/clean_data/Order.csv', index=False)
payment_df.to_csv(r'dataset/clean_data/Payment.csv', index=False)
product_df.to_csv(r'dataset/clean_data/Product.csv', index=False)

### Data Loading

In [ ]:
!pip install psycopg2

In [10]:
import psycopg2

In [11]:
def get_db_connection ():
    connection = psycopg2.connect(
       host = 'localhost',
       database = 'yanki_ecommerce',
       user = 'postgres',
       password = 'Cisco123'
    )
    return connection

In [18]:
conn = get_db_connection()

In [63]:
def create_tables():
    conn = get_db_connection()
    cursor = conn.cursor()
    create_table_query = ''' 
                            CREATE SCHEMA IF NOT EXISTS yanki;
                            
                            DROP TABLE IF EXISTS yanki.customers CASCADE;
                            DROP TABLE IF EXISTS yanki.products CASCADE;
                            DROP TABLE IF EXISTS yanki.shipping CASCADE;
                            DROP TABLE IF EXISTS yanki.orders CASCADE;
                            DROP TABLE IF EXISTS yanki.payment CASCADE;
                            
                            CREATE TABLE IF NOT EXISTS yanki.customers (
                                Customer_ID UUID PRIMARY KEY,
                                Customer_Name TEXT,
                                Phone_NUmber TEXT,
                                Email TEXT
                            );

                            CREATE TABLE IF NOT EXISTS yanki.products (
                                Product_ID UUID PRIMARY KEY,
                                Product_Name TEXT,
                                Category TEXT,
                                Brand TEXT,
                                Price FLOAT
                            );
                            
                            CREATE TABLE IF NOT EXISTS yanki.shipping (
                                Shipping_ID INTEGER PRIMARY KEY,
                                Customer_ID UUID,
                                Country TEXT,
                                State TEXT,
                                City TEXT,
                                Shipping_Address TEXT,
                                Postal_Code TEXT,
                                FOREIGN KEY (Customer_ID) references yanki.customers(Customer_ID)
                            );
                            
                            CREATE TABLE IF NOT EXISTS yanki.orders (
                                Order_ID UUID PRIMARY KEY,
                                Customer_ID UUID,
                                Product_ID UUID,
                                Order_Date DATE,
                                Total_Price DECIMAL,
                                Quantity INTEGER,
                                FOREIGN KEY(Product_ID) references yanki.products(Product_ID), 
                                FOREIGN KEY(Customer_ID) references yanki.customers(Customer_ID) 

                            );
                            
                            CREATE TABLE IF NOT EXISTS yanki.payments (
                                Order_ID UUID,
                                Payment_Method TEXT,
                                Transaction_Status TEXT,
                                FOREIGN KEY(Order_ID) references yanki.orders(Order_ID)
                            );'''
                            
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [64]:
create_tables()

In [66]:
import csv
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            cursor.execute(''' 
                           INSERT INTO yanki.customers (Customer_ID, Customer_Name, Phone_NUmber, Email)
                           VALUES (%s, %s, %s, %s);''',
                           row  
                        ) 
    conn.commit()
    cursor.close()
    conn.close()
    
csv_file_path = r'dataset\clean_data\Customers.csv'
load_data_from_csv(csv_file_path)

In [69]:
import csv
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            cursor.execute(''' 
                           INSERT INTO yanki.products (Product_ID, Product_Name, Category, Brand, Price)
                           VALUES (%s, %s, %s, %s, %s);''',
                           row  
                        ) 
    conn.commit()
    cursor.close()
    conn.close()
    
csv_file_path = r'dataset\clean_data\Product.csv'
load_data_from_csv(csv_file_path)

In [67]:
import csv
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            cursor.execute(''' 
                           INSERT INTO yanki.shipping (Shipping_ID, Customer_ID, Country, State, City, Shipping_Address, Postal_Code)
                           VALUES (%s, %s, %s, %s, %s, %s, %s);''',
                           row  
                        ) 
    conn.commit()
    cursor.close()
    conn.close()
    
csv_file_path = r'dataset\clean_data\Shipping.csv'
load_data_from_csv(csv_file_path)

In [70]:
import csv
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            cursor.execute(''' 
                           INSERT INTO yanki.orders(Order_ID, Customer_ID, Product_ID, Order_Date, Total_Price, Quantity)
                           VALUES (%s, %s, %s, %s, %s, %s);''',
                           row  
                        ) 
    conn.commit()
    cursor.close()
    conn.close()
    
csv_file_path = r'dataset\clean_data\Order.csv'
load_data_from_csv(csv_file_path)

In [71]:
import csv
def load_data_from_csv(csv_path):
    conn = get_db_connection()
    cursor = conn.cursor()
    with open(csv_path, 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            cursor.execute(''' 
                           INSERT INTO yanki.payments (Order_ID, Payment_Method, Transaction_Status)
                           VALUES (%s, %s, %s);''',
                           row  
                        ) 
    conn.commit()
    cursor.close()
    conn.close()
    
csv_file_path = r'dataset\clean_data\Payment.csv'
load_data_from_csv(csv_file_path)

Index(['Product_ID', 'Product_Name', 'Category', 'Brand', 'Price'], dtype='object')